@import "tailwindcss";
@keyframes borderPulse {
  0%,
  100% {
    border-color: rgb(239 68 68);
    box-shadow: 0 0 0 0 rgb(239 68 68 / 0%);
  }
  50% {
    border-color: rgb(248 113 113);
    box-shadow: 0 0 0 3px rgb(239 68 68 / 15%);
  }
}
